.spell-detail-container {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.spell-information {
  display: flex;
  justify-content: center;
  max-width: 96rem;
  width: 100%;
}

.spell-detail-row {
  display: flex;
  justify-content: center;
}

.spell-detail-cell-left {
  width: 30%;
  display: flex;
  justify-content: flex-start;
}

.spell-detail-cell-right {
  width: 70%;
  display: flex;
  justify-content: flex-start;
}

.back-button {
  width: 150px;
}

.spell-detail-spell-name {
  height: 50px;
}

.spell-list::-webkit-scrollbar {
  width: 10px;
}

.spell-list::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

.spell-list::-webkit-scrollbar-thumb {
  background: #ff4162;
  border-radius: 10px;
}
